*{
    font-family: 'Jura', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background-color: #1B4E00;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
}
nav ul li{
    text-decoration: none;
    padding: 0 30px ;
    font-size: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}

main{
    position: relative;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../images/hp2.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -1;
}
main > *{
    position: relative;
    z-index: 1;
}
main a{
    padding: 15px 30px;
    background-color: white;
    box-shadow: 0 10px 20px white;
    color:  #1B4E00;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #1B4E00;
    border-radius: 5px;
}
.about-Explore-section{
    padding: 50px;
    display: flex;
    flex-direction: row;
    height: 80vh;

}
.about-Explore1{
    margin: 0 20px;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3C723C;
}
.about-Explore1-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 50%;
}
.about-text{
    font-size: 24px;
    margin-right: 20px;
}
.about-text-btn{
    color: white;
    margin-top: 20px;
}
.about-img{
    width: 100%;
    border-radius: 0 10px 10px 0;

}
.about-img-container{
    width: 50%;
    background-image: url('../images/about-us.png');
    border-radius: 0 10px 10px 0;
}
.about-Explore2{
    margin: 0 20px;
    width: 50%;
    border-radius: 10px;
    font-size: 18px;
    background-image: url('../images/dreamCar.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section2{
    border:#1B4E00 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.brands-img{
    width: 60%;
    height: 70%;
    margin: 20px;
    border-radius: 10px;
}
.brands-btn{
    padding: 15px 30px;
    background-color: #3C723C;
    color: white;
    font-weight: bolder;
     -webkit-text-stroke: 1px white;
     text-shadow: 2px 2px 4px #1B4E00;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 10px 20px black;
}

footer{
    background-color: #1B4E00;
    color: white;
    text-align: center;
    padding: 20px;
}


/* ----------------------------------------------------------------------------------------------------- */



.cars-section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.all-pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.all-pics a{
    text-decoration: none;
    color: black;
}

.car-divs{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.car-img{
    width:200px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------------------------------------------00 */

.backToCars{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    color: #1B4E00;
}

.cars-section{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.car-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.car-img2{
    width:300px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
}
.car-ranges{
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car-range-img{
    width: 300px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}
.car-range-divs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



/* ----------------------------------------------------------------------------------------------------------------00 */


